#navbarNav {
    background-color: #0077CA;
!important;
    color: white;
!important;
}

.nav-item {
    color: white;
!important;
}
.productCard {
    margin-top:3%;
}

.productImageContainer {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;


}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.productImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background: #d8d8d8;
}