#navbarNav {
    background-color: #0077CA;
!important;
    color: white;
!important;
}

.nav-item {
    color: white;
!important;
}

.productCard {
}

.productImageContainer {
    width: 50%;
}

.productImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background: #d8d8d8;
}