<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" id="navbarNav">
        <div class="container-fluid" id="navbarNav">
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img src="/static/WIT%20Logo%20-%20long.png" width="240">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('shop')}}">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('bag')}}">Bag</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
        <div>
            <div class ="container">
                <div class ="row">
                    <h1 text-align="center">About Us</h1>
                </div>
                <div class ="row">
                    <img src="/static/witGroup.jpg" alt="WIT Group Photo">
                    <h3> Women in IT is a sub-association under the Business and IT Society (BITSoc) at Ontario Tech University.
                Women in IT is open to all, with a focus empowering and connecting women currently in or entering the IT Field.
                WIT aims to create an inclusive space where everyone feels welcome, while ensuring that equality exists in the IT field across all genders. </h3>
                </div>
        </div>
    </div>
        <br><br>
    <div class = "container width">
        <div class = "row justify-content-md-center">
            <h2 text-align="center">Contact Us</h2>
        </div>
        <div class = "row justify-content-md-center">
            <div class = "col-sm-auto">
                <img src="/static/email.png" alt="email clipart" width="35px" height="35px">
            </div>
            <div class = "col-md-auto">
                <h4>Email: </h4>
            </div>
            <div class = "col-md-auto">
                <h4><a href="mailto:wit@ontariotechu.net">wit@ontariotechu.net</a></h4>
            </div>
        </div>
        <div class = "row justify-content-md-center">
            <div class = "col-sm-auto">
                <img src="/static/facebook.png" alt="facebook img clipart" width="30px" height="30px">
            </div>
            <div class = "col-md-auto">
                <h4>Facebook: </h4>
            </div>
            <div class = "col-md-auto">
                <h4><a href="https://www.facebook.com/ot.wit">https://www.facebook.com/ot.wit</a></h4>
            </div>
        </div>
        <div class = "row justify-content-md-center">
            <div class = "col-sm-auto">
                <img src="/static/instagram.png" alt="instagram clipart" width="30px" height="30px">
            </div>
            <div class = "col-md-auto">
                <h4>Instagram: </h4>
            </div>
            <div class = "col-md-auto">
                <h4><a href="https://www.instagram.com/ot_wit/?hl=en">https://www.instagram.com/ot_wit/?hl=en</a></h4>
            </div>
        </div>
        <div class = "row justify-content-md-center">
            <div class = "col-md-auto">
                <h4>Our Carrd: </h4>
            </div>
            <div class = "col-md-auto">
                <h4><a href="https://otwit.carrd.co">https://otwit.carrd.co</a></h4>
            </div>
        </div>
    </div>
    <br><br>
    <!-- Social Media Embed for WIT-->
    <div class="embedsocial-hashtag" data-ref="e583e1bfa12a9e660d12f8f512361de1868078bc"></div>
        <script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>